* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mohave', sans-serif;
}

html {
    --bg-color: #242038d7;
    --primary-color: #47126b;
    --secondary-color: #6d23b6;
    --hover-color: #ac46a1;
    --light-color: #ea698b;
    --white-color: #ffffff; 
}

body {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    min-height: 100vh;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
	min-width: 50%;
  }
  
  label {
    font-size: 1rem;
    margin-top: 1rem;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 1rem;
    margin-top: 0.5rem;
    border-radius: 10px; /* Rounded borders */
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  textarea {
    height: 10rem;
  }
  
  button[type="submit"] {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    background-color: #47126b;
    color: #fff;
    border: none;
    border-radius: 10px; /* Rounded borders */
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #6d23b6;
  }